<div class="container">
    <h1 style="font-weight: 100">{{user.name}}</h1>
    <p>{{user.surname}}</p>
    <p>{{user.username}}</p>
    <p>{{user.address}}</p>
    <hr>
    <h5>Método de pago</h5>
    <p><strong>Targeta</strong>: {{user.cardNumber}}</p>
    <p><strong>Dirección:</strong> {{user.address}}</p>


    <a class="btn btn-sm merhackonaColor" href="/user/edit-profile">Editar Perfil</a>
    <br>
    <br>
    <form method="POST" action="/user/delete-profile">
        <button type="submit" class="btn btn-sm btn-outline-danger">Eliminar Cuenta de Usuario</button>
    </form>
    <br>
    <a href="/" class="btn merhackonaColor">Volver a Inicio</a>
</div>