<div class="productCard">
    <img class="sameSize" src="{{image}}" alt="{{name}}">
    <div class="productData">
        <h3 class="bold">{{name}}</h3>
        <h4 class="bold">Descripción: {{description}}</h4>
        <p class="bold">Precio: {{price}} €/ud</p>
        <a class="btn btn-dark" href="/">Volver al catálogo</a>
    </div>
</div>