<div class="container">
    <h1>Bienvenido a {{siteTitle}}</h1>
    <br>
    <hr>
    <br>
    <div>
        <form action="/" method="GET">
            <input id="filter" name="filter" type="text">
            <button class="btn btn-md btn-dark find">Buscar</button>
        </form>
    </div>
    <br>
</div>

<div class="container">
    <div class="row">
        {{#each products}}
        <div class="col-4">
            <hr>
            <a href="/product/details/{{id}}">
                <img src="{{image}}" alt="{{name}}">
            </a>
            <br>
            <a href="/product/details/{{id}}">
                <h4 id="detailsLink">{{name}}</h4>
            </a>
            <br>
            <h5>Precio: {{price}} €/ud</h5>
            <br>

            {{#when stock "lte" 0}}
            <i>Sin stock</i>
            {{/when}}

            {{#when stock "gt" 0}}
            <form class="addProduct" action="/cart/add-product/{{id}}" method="POST">
                <input type="number" name="amount">
                <button class="btn btn-md btn-dark btn-sm addBtn">Añadir al carrito</button>
            </form>
            {{/when}}

        </div>
        {{else}}
        <p>No se han encontrado productos con las características indicadas.</p>
        {{/each}}

    </div>
</div>
<br>
<br>
<hr>
<br>
<figure class="centered">
    <img src="./../../img/logo-3.png" alt="logo-merhackona">
</figure>
<br>
<hr>
<div>
    <figure id="stores-map"></figure>
</div>
<br>

<footer>
    <h1>Merhackona Registered | Proudly founded by Juanjo y Nat :) | Logo by Abel | All right reserved</h1>
</footer>

<script src="/js/functions.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/mapstyles.js"></script>
<script src="/js/map-stores.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAr9ipwI-lyXYSq3UH8SZk23md2Wt6t77M&callback=initMap"></script>