<div class="container">

    <div class="row">
        <div class="col">
            <h1 style="font-weight: 100">Editar {{name}}</h1>

            <form action="/admin/edit-store/{{id}}" method="POST">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input name="name" type="text" class="form-control" id="name" value="{{name}}">
                </div>
                <div class="form-group">
                    <label for="description">Dónde está: </label>
                    <label for="latitude">Latitud: </label>
                    <input name="latitude" type="text" class="form-control" id="latitude"
                        value="{{location.coordinates.[0]}}">
                    <br>
                    <label for="longitude">Longitud: </label>
                    <input name="longitude" type="text" class="form-control" id="longitude"
                        value="{{location.coordinates.[1]}}">

                    <br>

                </div>

                <br>
                <button type="submit" class="btn merhackonaColor">Guardar edición de la tienda</button>
                <a href="/admin/stores-list" class="btn merhackonaColor">Volver</a>

                <br><br><br>

            </form>
            <form action="/admin/delete-store/{{id}}" method="POST" class="deleteForm">
                <button class="btn btn-outline-danger">Borrar esta tienda</button>
            </form>
        </div>

    </div>
</div>