<div class="container">
    <h1>Mi carrito</h1>
    <hr>
    <div class="form-group">
        <label for="store-list">Elige tu tienda más cercana:</label>
        <select name="stores" class="form-control" id="store-list">
            <option>Seleccionar</option>
            {{#each allStores}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}}
        </select>
    </div>
    <br>
    <div class="row">
        {{#each selectedProducts}}
        <div class="col-3">

            <hr>
            <img src="{{product.image}}" alt="{{product.name}}" <h5>| <strong>{{product.name}}</strong> |</h5>
            <br>
            <p>Descripción:<br>{{product.description}}</p>
            <p>Tipo: {{product.type}}</p>
            <p>Precio: {{product.price}}€/ud</p>
            <p>Unidades: {{amount}}</p>
            <form action="/cart/delete/{{product.id}}" method="POST" class="deleteForm">
                <button class="btn btn-dark">Eliminar</button>
            </form>
        </div>
        {{/each}}
        <form action="/cart/purchase" method="POST">
            <button type="submit" class="btn btn-dark">Confirmar compra</button>
        </form>
        <br>
        <a href="/" class="btn btn-dark">Seguir comprando</a>
    </div>
</div>
<hr>
<br>
</div>