<div class="container">
    <h1>Mi carrito</h1>
    <hr>
    <form action="/cart/cart" method="POST"></form>
    <div class="form-group">
        <label for="store-list">Elige tu tienda más cercana:</label>
        <select name="stores" class="form-control" id="store-list">
            <option>Seleccionar</option>
            {{#each allStores}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}}

        </select>
    </div>
    <br>
    <div class="row">
        {{#each selectedProducts}}
        <div class="col-3">
            <hr>
            <img src="{{image}}" alt="{{name}}" <h5>| <strong>{{name}}</strong> |</h5>
            <br>
            <p>Descripción:<br>{{description}}</p>
            <p>Tipo: {{type}}</p>
            <p>Precio: {{price}}€/ud</p>
            <p>Unidades: €/ud</p>
            <a href="/cart/cart/edit/{{id}}" class="btn btn-dark">Editar</a>
            <a href="/cart/cart/delete/{{id}}" class="btn btn-dark">Eliminar</a>

            </div>
            {{/each}}
       
    </div>
    <hr>
    <br>
    <button type="submit" class="btn btn-dark">Confirmar compra</button>
    </form>
    <a href="/" class="btn btn-dark">Seguir comprando</a>
</div>